<ion-view view-title="Bokning">
  <ion-nav-back-button></ion-nav-back-button>
    
    <ion-content class="padding" ng-repeat="item in hotels | filter: {id:whichHotel}">
      <div>
            <div class="card list" >            
              <div class="item item-text-wrap">
                  <h2 style="color: #013e4f; font-size: 24px!important; padding-bottom: 10px; letter-spacing: 0.5px;
                  line-height: 10px;font-family: 'Rouge Script', cursive; font-weight: bold; ">{{item.namn}}</h2>
                  <h3 style="color: #013e4f;padding-bottom: 1px; font-size: 18px!important;">Kostnad: {{item.pris}} kr/natt</h3>
                  <h3 style="color: #013e4f;padding-bottom: 1px; font-size: 18px!important;">Antal rum: {{item.rum}}</h3>

                <div class="item">
                  <img class="full-image" ng-src="{{item.image1}}" alt="" href="">
                  <hr>
                  <img class="full-image" ng-src="{{item.image2}}" alt="" href="">
                </div>
              </div>
            </div> 
            
            <div class="item-divider" style="text-align: center;"><h3>Fyll i för att boka!</h3></div>
                         
            <form name="myForm1" ng-submit="submit()">  
            <div class="list"> 

            <label class="item item-input item-stacked-label">
            <span class="input-label">Ange incheckningsdatum</span>
            <input type="date" min="{{today | date:'yyyy-MM-dd'}}"
              max="2019-12-31"
              name="checkinDate" ng-model="data.checkinDate" required>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Ange utcheckningsdatum</span>
            <input type="date" min="{{data.checkinDate | date:'yyyy-MM-dd'}}"
              max="2019-12-31"
              name="checkoutDate" ng-model="data.checkoutDate" required
              ng-disabled="dateForm.checkoutDate.$invalid">
          </label>

              <ion-radio ng-model="data.adults" ng-value="'1'"
                    name="adults" ng-checked="1">En vuxen</ion-radio>

                  <ion-radio ng-model="data.adults" ng-value="'2'"
                    name="adults" ng-hide="{{item.rum}} === 1">Två vuxna</ion-radio>

              
              <label class="item item-input" ng-show="{{item.rum}} === 3">
                  <input type="number" max="3" name="children" placeholder="Antal barn | MAX 3" ng-model="data.children" required>
                </label>

                <div class="item-divider" style="text-align: center;"><h3>kontaktuppgifter</h3></div>

                <label class="item item-input">
                  <input type="text" name="namn1" placeholder="Fyll i ditt Förnamn" ng-model="data.namn1" required>
                </label>

                <label class="item item-input">
                  <input type="text" name="namn2" placeholder="Fyll i ditt Efternamn" ng-model="data.namn2" required>
                </label>

                <label class="item item-input">
                  <input type="tel" name="tel" placeholder="Fyll i ditt mobilnr" ng-model="data.tele" required>
                </label>
                
                <label class="item item-input">
                  <input type="email" name="email" placeholder="Fyll i din email-address" ng-model="data.email">
                  <div ng-show="myForm1.email.$error.email" class="error">
                      Ange en giltig e-postadress
                    </div>
                </label>
              
               
              <input type="submit" ng-click="modal.show()" value="Boka" class="button button-block button-balanced" ng-disabled="myForm1.$invalid">
             
            </form>
                   
            </div>       
                         
      </div>
    </ion-content>

    <script id="modal1.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-dark">
          <h1 class="title" style= "font-size:24px!important">Din bokning</h1>
        </ion-header-bar>

        <ion-content class="padding" ng-repeat="item in hotels | filter: {id:whichHotel}" >
          <div class="list item-text-wrap">
            <h1 class="item" style="text-align: center; font-size:22px!important">{{item.namn}}</h1>
            <img class="full-image" ng-src="{{item.image1}}" alt="">

             
              <h3 class="item"><strong>Kostnad:</strong> {{item.pris}} kr/natt</h3>

              

              <h3 class="item"><strong>Incheckningsdatum:</strong> {{data.checkinDate | date:'yyyy-MM-dd'}}
              <h3 class="item"><strong>Utcheckningsdatum:</strong> {{data.checkoutDate | date:'yyyy-MM-dd'}}
              <h3 class="item"><strong>Antal nätter:</strong> {{days(data.checkinDate, data.checkoutDate)}}
              <h3 class="item"><strong>Totalpris:</strong> {{totalPrice(item.pris, days(data.checkinDate, data.checkoutDate))}} kr
        
              <h3 class="item"><strong>Antal vuxna:</strong> {{response.adults}} </h3>
              <h3 class="item"><strong>Antal barn:</strong> {{response.children}} </h3> 

              <h1 class="item item-divider" style="text-align: center;">Dina uppgifter</h1>

              <h3 class="item">{{response.namn1}} {{ response.namn2}} </h3>
              <h3 class="item">{{response.email}} </h3>
              <h3 class="item">{{response.tele}} </h3>

              <a href="#tab/home" style="text-decoration: none;">
                <button class="button button-large button-balanced col" ng-click="reset()" >
                 <p style="color: white; font-size: 20px;">Thank you</p>
                </button>
            </a>    
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    
  </ion-view>
    
    